AllPayWebServiceTest/Backup/AllPayWebServiceTest/Service References/DevPaymentCenterTenpay/Tenpay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TenpayQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenpayTradeQuery" type="tns:TenpayTradeQueryPost" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TenpayTradeQueryPost">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MerchantId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLData" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TenpayQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenpayQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TenpayQuerySoapIn">
    <wsdl:part name="parameters" element="tns:TenpayQuery" />
  </wsdl:message>
  <wsdl:message name="TenpayQuerySoapOut">
    <wsdl:part name="parameters" element="tns:TenpayQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="TenpaySoap">
    <wsdl:operation name="TenpayQuery">
      <wsdl:input message="tns:TenpayQuerySoapIn" />
      <wsdl:output message="tns:TenpayQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TenpaySoap" type="tns:TenpaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TenpayQuery">
      <soap:operation soapAction="http://tempuri.org/TenpayQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TenpaySoap12" type="tns:TenpaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TenpayQuery">
      <soap12:operation soapAction="http://tempuri.org/TenpayQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tenpay">
    <wsdl:port name="TenpaySoap" binding="tns:TenpaySoap">
      <soap:address location="http://localhost:12003/MerchantApi/Tenpay.asmx" />
    </wsdl:port>
    <wsdl:port name="TenpaySoap12" binding="tns:TenpaySoap12">
      <soap12:address location="http://localhost:12003/MerchantApi/Tenpay.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>