AllPayWebServiceTest/AllPayWebServiceTest/Service References/DevPaymentCenterCVS/CVS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://PaymentCenter.AllPay.com.tw/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://PaymentCenter.AllPay.com.tw/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://PaymentCenter.AllPay.com.tw/">
      <s:element name="CVSQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="merchantID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="merchantTradeNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CVSQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CVSQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CVSServerPost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tradeInfoStore" type="tns:TradeInfoStore" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TradeInfoStore">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AlicardNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TEN_CODE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TRAN_NO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MMK_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="STATUS_CODE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="STATUS_DESC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BANK_TRAN_NO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PAY_AMT" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DATA_1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DATA_2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DATA_3" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DATA_4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DATA_5" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RTN_URL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TRACE_URL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ERR_URL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PAY_DATE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PAY_TIME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="POST_URL" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RtnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RtnMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CVSServerPostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CVSServerPostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CVSQuerySoapIn">
    <wsdl:part name="parameters" element="tns:CVSQuery" />
  </wsdl:message>
  <wsdl:message name="CVSQuerySoapOut">
    <wsdl:part name="parameters" element="tns:CVSQueryResponse" />
  </wsdl:message>
  <wsdl:message name="CVSServerPostSoapIn">
    <wsdl:part name="parameters" element="tns:CVSServerPost" />
  </wsdl:message>
  <wsdl:message name="CVSServerPostSoapOut">
    <wsdl:part name="parameters" element="tns:CVSServerPostResponse" />
  </wsdl:message>
  <wsdl:portType name="CVSSoap">
    <wsdl:operation name="CVSQuery">
      <wsdl:input message="tns:CVSQuerySoapIn" />
      <wsdl:output message="tns:CVSQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CVSServerPost">
      <wsdl:input message="tns:CVSServerPostSoapIn" />
      <wsdl:output message="tns:CVSServerPostSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CVSSoap" type="tns:CVSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CVSQuery">
      <soap:operation soapAction="http://PaymentCenter.AllPay.com.tw/CVSQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CVSServerPost">
      <soap:operation soapAction="http://PaymentCenter.AllPay.com.tw/CVSServerPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CVSSoap12" type="tns:CVSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CVSQuery">
      <soap12:operation soapAction="http://PaymentCenter.AllPay.com.tw/CVSQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CVSServerPost">
      <soap12:operation soapAction="http://PaymentCenter.AllPay.com.tw/CVSServerPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CVS">
    <wsdl:port name="CVSSoap" binding="tns:CVSSoap">
      <soap:address location="http://localhost:12003/MerchantApi/CVS.asmx" />
    </wsdl:port>
    <wsdl:port name="CVSSoap12" binding="tns:CVSSoap12">
      <soap12:address location="http://localhost:12003/MerchantApi/CVS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>