AllPayWebServiceTest/AllPayWebServiceTest/Service References/AllPaysharedws/AllPaysharedws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MsgData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SmsType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFastMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tradeID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="tradeNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cellPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="addMember" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFastMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFastMemberResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBonusMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cellPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Birthday" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBonusMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBonusMemberResult" type="tns:ApiReturnModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiReturnModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RtnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RtnMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUnreadNotifyMessageCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="webSiteID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnreadNotifyMessageCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUnreadNotifyMessageCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewPersonalSeller">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="otp_esc" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="allpayMID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="corpname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comboss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bossid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewPersonalSellerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewPersonalSellerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewCompanySeller">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="otp_esc" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="allpayMID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="corpname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="corpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comboss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bossid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewCompanySellerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewCompanySellerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewMerchant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="otp_esc" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="allpayMID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="corpname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="corpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comboss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bossid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="charge" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bank" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isAE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isUnionPay" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewMerchantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewMerchantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateNewMerchant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="otp_esc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="corpname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="corpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comboss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bossid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="charge" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="allpayto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nosale" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gid" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="allpayMID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="rentRate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateNewMerchantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateNewMerchantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewCompanyMerchant">
        <s:complexType />
      </s:element>
      <s:element name="AddNewCompanyMerchantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewCompanyMerchantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNotifyMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="webSiteID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNotifyMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNotifyMessageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNotifyMessageAndPushRssByCustom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="webSiteID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="appPushSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appPushTitle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNotifyMessageAndPushRssByCustomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNotifyMessageAndPushRssByCustomResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewMerchantForRentDevice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="otp_esc" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="allpayMID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="corpname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="corpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comboss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bossid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="charge" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bank" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isAE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isUnionPay" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isAutoClose" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="rentRate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewMerchantForRentDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewMerchantForRentDeviceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AES_EnCrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sIV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncodeString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AES_EnCryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AES_EnCryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AES_DeCrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sIV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncodeString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AES_DeCryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AES_DeCryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="AddFastMemberSoapIn">
    <wsdl:part name="parameters" element="tns:AddFastMember" />
  </wsdl:message>
  <wsdl:message name="AddFastMemberSoapOut">
    <wsdl:part name="parameters" element="tns:AddFastMemberResponse" />
  </wsdl:message>
  <wsdl:message name="AddBonusMemberSoapIn">
    <wsdl:part name="parameters" element="tns:AddBonusMember" />
  </wsdl:message>
  <wsdl:message name="AddBonusMemberSoapOut">
    <wsdl:part name="parameters" element="tns:AddBonusMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnreadNotifyMessageCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnreadNotifyMessageCount" />
  </wsdl:message>
  <wsdl:message name="GetUnreadNotifyMessageCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnreadNotifyMessageCountResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewPersonalSellerSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewPersonalSeller" />
  </wsdl:message>
  <wsdl:message name="AddNewPersonalSellerSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewPersonalSellerResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewCompanySellerSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewCompanySeller" />
  </wsdl:message>
  <wsdl:message name="AddNewCompanySellerSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewCompanySellerResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewMerchantSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewMerchant" />
  </wsdl:message>
  <wsdl:message name="AddNewMerchantSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewMerchantResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateNewMerchantSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateNewMerchant" />
  </wsdl:message>
  <wsdl:message name="UpdateNewMerchantSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateNewMerchantResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewCompanyMerchantSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewCompanyMerchant" />
  </wsdl:message>
  <wsdl:message name="AddNewCompanyMerchantSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewCompanyMerchantResponse" />
  </wsdl:message>
  <wsdl:message name="AddNotifyMessageSoapIn">
    <wsdl:part name="parameters" element="tns:AddNotifyMessage" />
  </wsdl:message>
  <wsdl:message name="AddNotifyMessageSoapOut">
    <wsdl:part name="parameters" element="tns:AddNotifyMessageResponse" />
  </wsdl:message>
  <wsdl:message name="AddNotifyMessageAndPushRssByCustomSoapIn">
    <wsdl:part name="parameters" element="tns:AddNotifyMessageAndPushRssByCustom" />
  </wsdl:message>
  <wsdl:message name="AddNotifyMessageAndPushRssByCustomSoapOut">
    <wsdl:part name="parameters" element="tns:AddNotifyMessageAndPushRssByCustomResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewMerchantForRentDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewMerchantForRentDevice" />
  </wsdl:message>
  <wsdl:message name="AddNewMerchantForRentDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewMerchantForRentDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="AES_EnCryptSoapIn">
    <wsdl:part name="parameters" element="tns:AES_EnCrypt" />
  </wsdl:message>
  <wsdl:message name="AES_EnCryptSoapOut">
    <wsdl:part name="parameters" element="tns:AES_EnCryptResponse" />
  </wsdl:message>
  <wsdl:message name="AES_DeCryptSoapIn">
    <wsdl:part name="parameters" element="tns:AES_DeCrypt" />
  </wsdl:message>
  <wsdl:message name="AES_DeCryptSoapOut">
    <wsdl:part name="parameters" element="tns:AES_DeCryptResponse" />
  </wsdl:message>
  <wsdl:portType name="AllPaySharedWSSoap">
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFastMember">
      <wsdl:input message="tns:AddFastMemberSoapIn" />
      <wsdl:output message="tns:AddFastMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBonusMember">
      <wsdl:input message="tns:AddBonusMemberSoapIn" />
      <wsdl:output message="tns:AddBonusMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnreadNotifyMessageCount">
      <wsdl:input message="tns:GetUnreadNotifyMessageCountSoapIn" />
      <wsdl:output message="tns:GetUnreadNotifyMessageCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewPersonalSeller">
      <wsdl:input message="tns:AddNewPersonalSellerSoapIn" />
      <wsdl:output message="tns:AddNewPersonalSellerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewCompanySeller">
      <wsdl:input message="tns:AddNewCompanySellerSoapIn" />
      <wsdl:output message="tns:AddNewCompanySellerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewMerchant">
      <wsdl:input message="tns:AddNewMerchantSoapIn" />
      <wsdl:output message="tns:AddNewMerchantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNewMerchant">
      <wsdl:input message="tns:UpdateNewMerchantSoapIn" />
      <wsdl:output message="tns:UpdateNewMerchantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewCompanyMerchant">
      <wsdl:input message="tns:AddNewCompanyMerchantSoapIn" />
      <wsdl:output message="tns:AddNewCompanyMerchantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNotifyMessage">
      <wsdl:input message="tns:AddNotifyMessageSoapIn" />
      <wsdl:output message="tns:AddNotifyMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNotifyMessageAndPushRssByCustom">
      <wsdl:input message="tns:AddNotifyMessageAndPushRssByCustomSoapIn" />
      <wsdl:output message="tns:AddNotifyMessageAndPushRssByCustomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewMerchantForRentDevice">
      <wsdl:input message="tns:AddNewMerchantForRentDeviceSoapIn" />
      <wsdl:output message="tns:AddNewMerchantForRentDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AES_EnCrypt">
      <wsdl:input message="tns:AES_EnCryptSoapIn" />
      <wsdl:output message="tns:AES_EnCryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AES_DeCrypt">
      <wsdl:input message="tns:AES_DeCryptSoapIn" />
      <wsdl:output message="tns:AES_DeCryptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AllPaySharedWSSoap" type="tns:AllPaySharedWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFastMember">
      <soap:operation soapAction="http://tempuri.org/AddFastMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBonusMember">
      <soap:operation soapAction="http://tempuri.org/AddBonusMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadNotifyMessageCount">
      <soap:operation soapAction="http://tempuri.org/GetUnreadNotifyMessageCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewPersonalSeller">
      <soap:operation soapAction="http://tempuri.org/AddNewPersonalSeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCompanySeller">
      <soap:operation soapAction="http://tempuri.org/AddNewCompanySeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewMerchant">
      <soap:operation soapAction="http://tempuri.org/AddNewMerchant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNewMerchant">
      <soap:operation soapAction="http://tempuri.org/UpdateNewMerchant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCompanyMerchant">
      <soap:operation soapAction="http://tempuri.org/AddNewCompanyMerchant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNotifyMessage">
      <soap:operation soapAction="http://tempuri.org/AddNotifyMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNotifyMessageAndPushRssByCustom">
      <soap:operation soapAction="http://tempuri.org/AddNotifyMessageAndPushRssByCustom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewMerchantForRentDevice">
      <soap:operation soapAction="http://tempuri.org/AddNewMerchantForRentDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AES_EnCrypt">
      <soap:operation soapAction="http://tempuri.org/AES_EnCrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AES_DeCrypt">
      <soap:operation soapAction="http://tempuri.org/AES_DeCrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AllPaySharedWSSoap12" type="tns:AllPaySharedWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFastMember">
      <soap12:operation soapAction="http://tempuri.org/AddFastMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBonusMember">
      <soap12:operation soapAction="http://tempuri.org/AddBonusMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadNotifyMessageCount">
      <soap12:operation soapAction="http://tempuri.org/GetUnreadNotifyMessageCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewPersonalSeller">
      <soap12:operation soapAction="http://tempuri.org/AddNewPersonalSeller" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCompanySeller">
      <soap12:operation soapAction="http://tempuri.org/AddNewCompanySeller" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewMerchant">
      <soap12:operation soapAction="http://tempuri.org/AddNewMerchant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNewMerchant">
      <soap12:operation soapAction="http://tempuri.org/UpdateNewMerchant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCompanyMerchant">
      <soap12:operation soapAction="http://tempuri.org/AddNewCompanyMerchant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNotifyMessage">
      <soap12:operation soapAction="http://tempuri.org/AddNotifyMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNotifyMessageAndPushRssByCustom">
      <soap12:operation soapAction="http://tempuri.org/AddNotifyMessageAndPushRssByCustom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewMerchantForRentDevice">
      <soap12:operation soapAction="http://tempuri.org/AddNewMerchantForRentDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AES_EnCrypt">
      <soap12:operation soapAction="http://tempuri.org/AES_EnCrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AES_DeCrypt">
      <soap12:operation soapAction="http://tempuri.org/AES_DeCrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AllPaySharedWS">
    <wsdl:port name="AllPaySharedWSSoap" binding="tns:AllPaySharedWSSoap">
      <soap:address location="http://apiservice.allpay.com.tw/api/sharedservice/AllPaysharedws.asmx" />
    </wsdl:port>
    <wsdl:port name="AllPaySharedWSSoap12" binding="tns:AllPaySharedWSSoap12">
      <soap12:address location="http://apiservice.allpay.com.tw/api/sharedservice/AllPaysharedws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>