AllPayWebServiceTest/AllPayWebServiceTest/Service References/AllPayEsunPaymentService/PayService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ESUNAllPay.BLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ESUNAllPay.BLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentifyNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LockAmount" type="xs:int" />
      <xs:element minOccurs="0" name="VaccNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransResponse" nillable="true" type="tns:TransResponse" />
  <xs:complexType name="RejectResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentifyNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VaccNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RejectResponse" nillable="true" type="tns:RejectResponse" />
  <xs:complexType name="TransFreeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentifyNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VaccNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inVaccNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unLockAmount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransFreeResponse" nillable="true" type="tns:TransFreeResponse" />
  <xs:complexType name="BalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvaliableBalance" type="xs:int" />
      <xs:element minOccurs="0" name="BlockBalance" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentifyNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalBalance" type="xs:int" />
      <xs:element minOccurs="0" name="VaccNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalanceResponse" nillable="true" type="tns:BalanceResponse" />
</xs:schema>