AllPayWebServiceTest/Backup/AllPayWebServiceTest/Service References/AllPayEsunPaymentService/PayService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.esunbank.com.tw/ESUNAllPay/PayService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ESUNAllPay.BLL" />
  <xs:element name="Trans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VaccNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PayAmount" type="xs:int" />
        <xs:element minOccurs="0" name="IdentifyNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ESUNAllPay.BLL" minOccurs="0" name="TransResult" nillable="true" type="q1:TransResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VaccNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unLockAmount" type="xs:int" />
        <xs:element minOccurs="0" name="IdentifyNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ESUNAllPay.BLL" minOccurs="0" name="RejectResult" nillable="true" type="q2:RejectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransFree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VaccNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unLockAmount" type="xs:int" />
        <xs:element minOccurs="0" name="inVaccNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inAmount" type="xs:int" />
        <xs:element minOccurs="0" name="Fee" type="xs:int" />
        <xs:element minOccurs="0" name="IdentifyNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransFreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ESUNAllPay.BLL" minOccurs="0" name="TransFreeResult" nillable="true" type="q3:TransFreeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Balance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VaccNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QueryDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdentifyNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ESUNAllPay.BLL" minOccurs="0" name="BalanceResult" nillable="true" type="q4:BalanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>