AllPayWebServiceTest/Backup/AllPayWebServiceTest/Service References/AllPayEsunPaymentService/PayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PayService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IPayService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.esunbank.com.tw/ESUNAllPay/PayService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.esunbank.com.tw/ESUNAllPay/PayService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.esunbank.com.tw/ESUNAllPay/PayService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ESUNAllPay.BLL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPayService_Trans_InputMessage">
    <wsdl:part name="parameters" element="tns:Trans" />
  </wsdl:message>
  <wsdl:message name="IPayService_Trans_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransResponse" />
  </wsdl:message>
  <wsdl:message name="IPayService_Reject_InputMessage">
    <wsdl:part name="parameters" element="tns:Reject" />
  </wsdl:message>
  <wsdl:message name="IPayService_Reject_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectResponse" />
  </wsdl:message>
  <wsdl:message name="IPayService_TransFree_InputMessage">
    <wsdl:part name="parameters" element="tns:TransFree" />
  </wsdl:message>
  <wsdl:message name="IPayService_TransFree_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransFreeResponse" />
  </wsdl:message>
  <wsdl:message name="IPayService_Balance_InputMessage">
    <wsdl:part name="parameters" element="tns:Balance" />
  </wsdl:message>
  <wsdl:message name="IPayService_Balance_OutputMessage">
    <wsdl:part name="parameters" element="tns:BalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="IPayService">
    <wsdl:operation name="Trans">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayService/Trans" message="tns:IPayService_Trans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayService/TransResponse" message="tns:IPayService_Trans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reject">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayService/Reject" message="tns:IPayService_Reject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayService/RejectResponse" message="tns:IPayService_Reject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransFree">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayService/TransFree" message="tns:IPayService_TransFree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayService/TransFreeResponse" message="tns:IPayService_TransFree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Balance">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayService/Balance" message="tns:IPayService_Balance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayService/BalanceResponse" message="tns:IPayService_Balance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPayService" type="tns:IPayService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IPayService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Trans">
      <soap:operation soapAction="http://tempuri.org/IPayService/Trans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reject">
      <soap:operation soapAction="http://tempuri.org/IPayService/Reject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransFree">
      <soap:operation soapAction="http://tempuri.org/IPayService/TransFree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Balance">
      <soap:operation soapAction="http://tempuri.org/IPayService/Balance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayService">
    <wsdl:port name="BasicHttpBinding_IPayService" binding="tns:BasicHttpBinding_IPayService">
      <soap:address location="https://www.esunbank.com.tw/ESUNAllPay/PayService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>