AllPayWebServiceTest/Backup/AllPayWebServiceTest/Service References/ApiWS/apiws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://testApiService.allpay.com.tw/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://testApiService.allpay.com.tw/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://testApiService.allpay.com.tw/">
      <s:element name="GetPaymentMerchantFunction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentTypeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentMerchantFunctionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPaymentMerchantFunctionResult" type="tns:PaymentMerchantFunction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PaymentMerchantFunction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentTypeID" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentSubTypeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentSubTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="States" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HashKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HashIV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllowedIP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPaymentMerchantFunctionByBankName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentTypeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bankName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentMerchantFunctionByBankNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPaymentMerchantFunctionByBankNameResult" type="tns:PaymentMerchantFunction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentMerchantFunctionByMID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentMerchantFunctionByMIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPaymentMerchantFunctionByMIDResult" type="tns:PaymentMerchantFunction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentMerchantAllowedIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paymentTypeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentMerchantAllowedIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPaymentMerchantAllowedIPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPayMerchantFunctionByMerchant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPayMerchantFunctionByMerchantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPayMerchantFunctionByMerchantResult" type="tns:AllPayMerchantFunction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AllPayMerchantFunction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentTypeID" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentSubTypeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentSubTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="States" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HashKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HashIV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllowedIP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllPayMerchantFunctionByPaymentSubTypeName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentSubTypeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPayMerchantFunctionByPaymentSubTypeNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPayMerchantFunctionByPaymentSubTypeNameResult" type="tns:AllPayMerchantFunction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnCrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnCryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnCryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPaymentMerchantFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaymentMerchantFunction" />
  </wsdl:message>
  <wsdl:message name="GetPaymentMerchantFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaymentMerchantFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="GetPaymentMerchantFunctionByBankNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaymentMerchantFunctionByBankName" />
  </wsdl:message>
  <wsdl:message name="GetPaymentMerchantFunctionByBankNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaymentMerchantFunctionByBankNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetPaymentMerchantFunctionByMIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaymentMerchantFunctionByMID" />
  </wsdl:message>
  <wsdl:message name="GetPaymentMerchantFunctionByMIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaymentMerchantFunctionByMIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetPaymentMerchantAllowedIPSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaymentMerchantAllowedIP" />
  </wsdl:message>
  <wsdl:message name="GetPaymentMerchantAllowedIPSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaymentMerchantAllowedIPResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPayMerchantFunctionByMerchantSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPayMerchantFunctionByMerchant" />
  </wsdl:message>
  <wsdl:message name="GetAllPayMerchantFunctionByMerchantSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPayMerchantFunctionByMerchantResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPayMerchantFunctionByPaymentSubTypeNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPayMerchantFunctionByPaymentSubTypeName" />
  </wsdl:message>
  <wsdl:message name="GetAllPayMerchantFunctionByPaymentSubTypeNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPayMerchantFunctionByPaymentSubTypeNameResponse" />
  </wsdl:message>
  <wsdl:message name="EnCryptSoapIn">
    <wsdl:part name="parameters" element="tns:EnCrypt" />
  </wsdl:message>
  <wsdl:message name="EnCryptSoapOut">
    <wsdl:part name="parameters" element="tns:EnCryptResponse" />
  </wsdl:message>
  <wsdl:portType name="ApiWSSoap">
    <wsdl:operation name="GetPaymentMerchantFunction">
      <wsdl:input message="tns:GetPaymentMerchantFunctionSoapIn" />
      <wsdl:output message="tns:GetPaymentMerchantFunctionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentMerchantFunctionByBankName">
      <wsdl:input message="tns:GetPaymentMerchantFunctionByBankNameSoapIn" />
      <wsdl:output message="tns:GetPaymentMerchantFunctionByBankNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentMerchantFunctionByMID">
      <wsdl:input message="tns:GetPaymentMerchantFunctionByMIDSoapIn" />
      <wsdl:output message="tns:GetPaymentMerchantFunctionByMIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentMerchantAllowedIP">
      <wsdl:input message="tns:GetPaymentMerchantAllowedIPSoapIn" />
      <wsdl:output message="tns:GetPaymentMerchantAllowedIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPayMerchantFunctionByMerchant">
      <wsdl:input message="tns:GetAllPayMerchantFunctionByMerchantSoapIn" />
      <wsdl:output message="tns:GetAllPayMerchantFunctionByMerchantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPayMerchantFunctionByPaymentSubTypeName">
      <wsdl:input message="tns:GetAllPayMerchantFunctionByPaymentSubTypeNameSoapIn" />
      <wsdl:output message="tns:GetAllPayMerchantFunctionByPaymentSubTypeNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnCrypt">
      <wsdl:input message="tns:EnCryptSoapIn" />
      <wsdl:output message="tns:EnCryptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApiWSSoap" type="tns:ApiWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPaymentMerchantFunction">
      <soap:operation soapAction="http://testApiService.allpay.com.tw/GetPaymentMerchantFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentMerchantFunctionByBankName">
      <soap:operation soapAction="http://testApiService.allpay.com.tw/GetPaymentMerchantFunctionByBankName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentMerchantFunctionByMID">
      <soap:operation soapAction="http://testApiService.allpay.com.tw/GetPaymentMerchantFunctionByMID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentMerchantAllowedIP">
      <soap:operation soapAction="http://testApiService.allpay.com.tw/GetPaymentMerchantAllowedIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPayMerchantFunctionByMerchant">
      <soap:operation soapAction="http://testApiService.allpay.com.tw/GetAllPayMerchantFunctionByMerchant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPayMerchantFunctionByPaymentSubTypeName">
      <soap:operation soapAction="http://testApiService.allpay.com.tw/GetAllPayMerchantFunctionByPaymentSubTypeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnCrypt">
      <soap:operation soapAction="http://testApiService.allpay.com.tw/EnCrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApiWSSoap12" type="tns:ApiWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPaymentMerchantFunction">
      <soap12:operation soapAction="http://testApiService.allpay.com.tw/GetPaymentMerchantFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentMerchantFunctionByBankName">
      <soap12:operation soapAction="http://testApiService.allpay.com.tw/GetPaymentMerchantFunctionByBankName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentMerchantFunctionByMID">
      <soap12:operation soapAction="http://testApiService.allpay.com.tw/GetPaymentMerchantFunctionByMID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentMerchantAllowedIP">
      <soap12:operation soapAction="http://testApiService.allpay.com.tw/GetPaymentMerchantAllowedIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPayMerchantFunctionByMerchant">
      <soap12:operation soapAction="http://testApiService.allpay.com.tw/GetAllPayMerchantFunctionByMerchant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPayMerchantFunctionByPaymentSubTypeName">
      <soap12:operation soapAction="http://testApiService.allpay.com.tw/GetAllPayMerchantFunctionByPaymentSubTypeName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnCrypt">
      <soap12:operation soapAction="http://testApiService.allpay.com.tw/EnCrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApiWS">
    <wsdl:port name="ApiWSSoap" binding="tns:ApiWSSoap">
      <soap:address location="http://apiservice-stage.allpay.com.tw/api/apiws.asmx" />
    </wsdl:port>
    <wsdl:port name="ApiWSSoap12" binding="tns:ApiWSSoap12">
      <soap12:address location="http://apiservice-stage.allpay.com.tw/api/apiws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>